name: Robot Framework Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
permissions:
  contents: read
 
jobs:
  test:
    runs-on: windows-latest
     
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12.1
        uses: actions/setup-python@v3
        with:
          python-version: 3.12.1
   
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools
          pip install robotframework
          pip install robotframework-seleniumlibrary
          pip install robotframework-faker
   
      - name: Test with RobotFramework
        run: |
            cd Tests
            robot -d ..\Results Final_Challenge.robot
         
      - name: Test Report Generation
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: TestResults               
          path: Results/          
